<div class="app-bar">
<mat-toolbar  class="center" color="primary">
    <div class="example-button-row">
      <button (click)="onHomeClick()" mat-button color="accent"> <mat-icon aria-hidden="false" >home</mat-icon> </button>
      <button (click)="onMessageClick()" mat-button color="accent"> <mat-icon aria-hidden="false" >message_outline</mat-icon> </button>
      <button (click)="onAddPostClick()" mat-button color="accent"> <mat-icon aria-hidden="false" >add_circle_outline</mat-icon> </button>
      <button (click)="onExploreClick()" mat-button color="accent"> <mat-icon aria-hidden="false" >explore</mat-icon> </button>
      <button (click)="onLikesClick()" mat-button color="accent"> <mat-icon aria-hidden="false" >favorite_border</mat-icon> </button>
      <button (click)="onProfileClick()" mat-button color="accent"> <mat-icon aria-hidden="false" >face</mat-icon> </button>
    </div>  
</mat-toolbar>
<mat-divider></mat-divider>
</div>