<div class="mat-div">
  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title>Angular Social</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <input class="login-input" type="text" placeholder="Phone number, username or email address"
        [(ngModel)]="username">
      <input class="login-input" type="password" placeholder="Password" [(ngModel)]="password">
      <p>{{loginError}}</p>

      <button mat-button class="login-button" (click)="onLoginClick()" disabled="{{isButtonDisabled}}">Login</button>


      <a href="#">Forgotten your password?</a>
    </mat-card-content>
  </mat-card>

</div>