<div *ngIf="!isLoggedIn">
  <app-login></app-login>
  <p class="footer"> Use username: JohnDoe and password:JohnDoe to login</p>
</div>
<div *ngIf="isLoggedIn">
  <app-menu-bar></app-menu-bar>
  <div class="main">
    <div *ngFor="let post of posts">
      <app-post 
      [postImages]="post.postImages"
      [profileImage]="post.profileImage"
      [postCaption]="post.postCaption"
      [userId]="post.userId"
      [postLocation]="post.postLocation"
      [liked]="post.liked">
      </app-post>
    </div>
  </div>
</div>
